{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'ico/logoSisteMAIS.ico' %}" type="image/x-icon">
    <title>Login</title>
</head>
<body>

    <section class="ski-alinhar ski-fcolum inicial">
        <h1 class="title title-2 inicial-2">Login</h1>
        <form class="ski-form-1" method="POST" >
            {% csrf_token %}
            <label class="ski-fcolum" >
                <span>User</span>
                <input type="text" name="username" class="input-1">
            </label>
            <label class="ski-fcolum" >
                <span>Senha</span>
                <input type="password" name="password" class="input-1">
            </label>
    
            <button class="ski-btn-3">Login</button>
    
        </form>

    </section>
</body>
</html>